@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');
/* Global */
body {
  height: 100%;
  background: #FFFFFF;
  overflow-x: hidden;
}


a:hover {
  color: #010414;
}

h1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h2 {
  color: #010414;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h3 {
  color: #010414;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
}

p {
  color: #F1F1F1;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 1.125em;
}

input, label {
  display: block;
}

.container-fluid {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.col {
  padding: 0;
}

/* Header */
.header {
  background: #010414;
  background: url("components/space-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
  padding-left: 5vw;
}

.header h1 {
  width: 75%;
}

.header p {
  width: 75%;
}

.action-btn:hover {
  background: #9A89C9;
}

button.action-btn {
  text-transform: lowercase;
  width: 192px;
  height: 33px;
  background: #C4AFFF;
  border-radius: 2.5px;
  border: none;
  font-family: Poppins;
  font-weight: 300;
  font-size: 0.85em;
}

a#header-link {
    color: #C4AFFF;
}

a#header-link:hover {
  color: #9A89C9;;
}

/* Keyword Scan */
.keyword-search {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  padding: 0 5vw 0 5vw;
}

.keyword-search-content h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5vh;
}

/*
Styling for input areas, although, we switched over to textareas,
keeping this here incase a user wishes to switch back.

input.listing-link {
  width: 650px;
  height: 50px;
  background: #EBEBEB;
  border-radius: 5px;
  border: none;
  padding-left: 1vw;
} */

textarea.listing-text {
  resize: both;
  background: #EBEBEB;
  border-radius: 3px;
  height: 200px;
  width: 100%;
  border: none;
  opacity: 0.75;
  font-family: "Manrope";
  padding: 1vh 1vw 1vh 1vw;

}

.action-btn#submit {
  margin-top: 1vh;
  font-weight: 300;
}

textarea.listing-text:focus{
  outline: none;
  border: 1px solid #9A89C9;
}

label {
  font-family: Manrope;
  font-weight: 500;

}

::placeholder {
  opacity: 0.75;
  font-family: Manrope;
  font-weight: 300;
}

svg#green {
  color: #3EBE34;
}

svg#yellow {
  color: #FEC824;
}

.keywords {
  margin-top: 2.5vh;
  margin-bottom: 5vh;
}

.keyword p {
  color: #010414;
  font-weight: 400;
}

.keyword-search-content h2 {
  margin-bottom: 1vh;
}
.search-desc {
  margin: 0;
  color: #010414;
  text-align: center;
  margin-bottom: 2.5vh;
}

#sample-link {
  color: #C4AFFF;
}

#sample-link:hover {
  color: #9A89C9;
}


img#network-illustration {
  display: none;
  margin-bottom: 0vh;
}

/* Footer */
.footer {
  padding: 0.5vh 0 0.5vh 0;
  width: 100%;
  bottom: 0;
  background: #C4AFFF;
  display: flex;
  align-items: end;
  position:fixed;
  bottom: 0;
  text-align: center;
  justify-content: center;
}


.footer a:hover {
  color: #f7f5fc;
}

p#footer-content {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
}
